<div>
    <label class="primary">{{localize step}}</label>
    <div>
        <label class="secondary">
            {{localize nameLabel}}
            <input type="text" name="name" value="{{name}}"/>
        </label>
    </div>
    <div>
        <prose-mirror name="text" value="{{{text}}}"></prose-mirror>
    </div>
</div>