<div>
    <label class="primary">
        {{localize step}}
        <select name="selected">
            {{selectOptions options selected=selected blank=emptyOption localize=true}}
        </select>
    </label>
    <p>{{localize description}}</p>
</div>