<div>
    {{#with preview}}
        <div class="preview">
            {{> 'QUICKNPC.preview.header' }}
            {{> 'QUICKNPC.preview.subHeader' }}
            {{> 'QUICKNPC.preview.statistics'}}
            {{> 'QUICKNPC.preview.affinities'}}
            {{> 'QUICKNPC.preview.statusImmunities'}}
            {{> 'QUICKNPC.preview.attacks'}}
            {{> 'QUICKNPC.preview.spells'}}
            {{> 'QUICKNPC.preview.actions'}}
            {{> 'QUICKNPC.preview.rules'}}
        </div>
    {{/with}}
</div>