<div class="affinities border-bottom">
    {{#each affinities}}
        <span class="border-left">
            <span>
                <i class="icon icon-{{@key}}"></i>
                {{#if value}}
                    {{localize (concat 'QUICKNPC.preview.affinity.' value)}}
                {{/if}}
            </span>
        </span>
    {{/each}}
</div>